body {
  background: #fafafa;
  color: #333333;
  margin-top: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.content-section {
  padding-top: 15px;
  padding-left: 30px;
}

.btn-group-toggle {
  padding-top: 15px;
  padding-left: 30px;
}

.input-group {
  padding-top: 15px;
  padding-left: 30px;
}
#btn_delete {
  padding: 12px;
}
