{% extends 'layout.html' %}
{% block content %}
{% for file in files %}
    {% if file.endswith(xlsx_extension) %}
        <article class="media content-section">
            <div class="list-group">
                <li class="list-group-item">OTT Reports: {{ file }} </li>
            </div>
            <form action = "{{url_for('hli_api_delete_files')}}" method="POST">
                <button id='btn_delete' class="btn btn-outline-primary" name='file' type="delete">Delete</button>
            </form>
        </article>
    {% elif file.endswith(txt_extension) %}
        <article class="media content-section">
            <div class="list-group">
                <li class="list-group-item">Territory Grouping: {{ file }} </li>
            </div>
            <form action = "{{url_for('hli_api_delete_files')}}" method="POST">
                <button id='btn_delete' class="btn btn-outline-primary" name='file' type="delete">Delete</button>
            </form>
        </article>
    {% endif %}
{% endfor %}
{% endblock content %}
